<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Catalog Page</title>
    <!-- Do not forget to change the path to the css file -->
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div id="box">
        {{#each errorMessages}}
        <div class="error-container">
            <p>{{this}}</p>
        </div>
        {{/each}}
        <nav>
            <img src="/img/logo.webp" alt="logo">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/search">Search</a></li>
                <!--Users-->
                {{#if isAuthenticated}}
                <li><a href="/movies/create">Create Post</a></li>
                <li><a href="/cast/create">Create Cast</a></li>
                <li><a href="/users/logout">Logout</a></li>
                <li>{{user.email}}</li>
                {{else}}
                <!--Guest-->
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
      {{!-- This is where all other pages are rendered --}}
      {{{body}}} 
        <footer>
            © JS Back-End Workshop
        </footer>
    </div>

{{!-- Script that adds spacing to the error messages --}}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const containers = document.querySelectorAll('.error-container');
            containers.forEach((container, index) => {
                const spacing = 8; // spacing in pixels
                const initialTop = 13; // initial top percentage
                const topOffset = initialTop + (index * 6) + '%';
                container.style.top = `calc(${topOffset} + ${spacing}px)`;
            });
        });
    </script>

</body>

</html>