body{
  font-family: Roboto;
}

.title{
  font-size: 26px;
}

.input1{
  padding: 10px 150px 10px 10px;
  background-color: rgb(242, 242, 242);
  border: none;
}

.input2{
  display: block;
  margin-top: 10px;
  padding: 10px 150px 10px 10px;
  background-color: rgb(242, 242, 242);
  border: none;
}

.b1{
  display: inline-block;
  margin-top: 25px;
  padding: 10px 14px;
  background-color: black;
  color: azure;
  border: none;
}

.b2{
  display: inline-block;
  margin-top: 25px;
  margin-left: 10px;
  padding: 10px 18px;
  border: none;
}